	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<div class="page-inner">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/">P<em>.</em> MONTHLY</a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="has-dropdown">
							<a href="/event">Event</a>
							{{!-- <ul class="dropdown">
								<li><a href="#">My Favorite</a></li>
							</ul> --}}
						</li>

						<li><a href="/calendar">Calendar</a></li>
						<li class="navLogin has-dropdown">
							<a href="/">Log in</a>
						
						</li>


					</ul>
				</div>
			</div>
			
		</div>
    </nav>
    

	<!-- header -->
	<header id="gtco-header" class="gtco-cover gtco-cover-sm favorite_header" role="banner">

		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Events</span>
							<h1>My Events</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
	
	<!-- content -->	

	<div class="gtco-section">
		<div class="gtco-container">
			{{!-- <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Events</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
								
				</div>
			</div> --}}

			<!-- event div -->
			<div class="row">

				{{#each favoriteDB}}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="/post/{{eventId}}" class="fh5co-project-item mb-1">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{{eventImg}}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-title">
							<h2>{{eventName}}</h2>
							{{!-- <p>Far far away, behind the word mountains, far from the countries Vokalia..</p> --}}
						</div>
						<hr>
						<div class="fh5co-text" style="padding: 10px 20px 20px 20px">
							<p>Start Date : {{eventStart}}</p>
							<p>End Date : {{eventEnd}}</p>
						</div>
					</a>
                    <div class="text-center">
                        <button type="button" data-id="{{id}}" class="deleteFavorite mx-auto btn btn-primary">DELETE</button>
                    </div>
				</div>
				{{/each}}

			</div>

		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
            <div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2019 P.MONTHLY. All Rights Reserved.</small> 
						<!-- <small class="block">Designed by <a href="http://FreeHTML5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small> -->
					</p>
					<p class="pull-right">
						{{!-- <ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul> --}}
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/favorite.js"></script>